

@mixin placeholder($color) {
    &::placeholder {
        color: $color;
    }

    // IE
    &:-ms-input-placeholder {
        color: $color;
    }

    // Edge
    &::-ms-input-placeholder {
        color: $color;
    }
}


.login {
    display: block;
    margin: auto;
    width: 400px;
    padding: 30px;
    border: #000000 1px solid;
    background-color: #ffffff;
    margin-top:40px;
    box-shadow: 5px 5px 4px #666666;
    
    margin-left: auto;
    margin-right: auto;
    * {
        text-align: center;
        padding-bottom: 30px;
    }
    
    .title {
        font-size: 40px;
    }

    input {
        width: 250px;
        
        padding: 10px 15px;
        margin: 0 auto 10px auto;
        display: block;
        text-align: center;
        font-size: 18px;
        border: #000000 1px solid;
        background-color: #fbfbfb;
    

        @include placeholder(#dddddd);


    }
    .button {
        background-color: #e0ffff;
        &:hover{
            background-color: #afeeee;
        }
    }

    
}